<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.arash.altafi.permission">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Permission">
        <activity
            android:name=".pickFromDevice.CaptureAndPickImage"
            android:exported="false" />
        <activity
            android:name=".dexter.DexterActivity"
            android:exported="false" />
        <activity
            android:name=".newPermission.NewPermission"
            android:exported="false" />
        <activity android:name=".startActivityForResult2.Activity4" />
        <activity android:name=".startActivityForResult2.Activity3" />
        <activity android:name=".internet.CheckInternet" />
        <activity android:name=".file.FilePermission" />
        <activity android:name=".gallery.GalleryPermission" />
        <activity android:name=".camera.CameraPermission" />
        <activity android:name=".camera.CameraPermissionWithClass" />
        <activity android:name=".startActivityForResult.Activity2" />
        <activity android:name=".startActivityForResult.Activity1" />
        <activity android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".broadCast.SMSReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>